html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}
* {
  box-sizing: border-box;
  // margin: 0; lo puse en body
  /*   padding: 0; creo que no se necesita*/
}
body {
  margin: 0;
}

.pointer {
  cursor: pointer;
}
